<div class="my-3">
  <input class="mb-3" size="8" [formControl]="searchInput" placeholder="Search">

  <span class="mx-5"><span>show </span><select (change)="onSelectLimit($event.target.value)">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
  </select><span> entries</span></span>

<ngx-datatable
  [rows]="rows"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  rowHeight="auto"
  [count]="total"
  [limit]="limit"
  [externalPaging]="true"
  (page)="setPage($event)"
  [externalSorting]="true"
  (sort)="sortData($event)"
>
  <ngx-datatable-column name="First Name" prop="firstName">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <p>{{ value}}</p>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Last Name" prop="lastName">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <p>{{ value}}</p>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Image" prop="image">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <img src="{{value}}" width="50px" />
      <!-- <p>{{ value }}</p> -->
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Email" prop="email">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <p>{{ value}}</p>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Phone" prop="phone">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <p>{{ value}}</p>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Age" prop="age">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <p>{{ value}}</p>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column *ngIf="isActive" name="Update">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button (click)="onEdit(row)" mat-raised-button color="primary">Edit</button>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column *ngIf="isActive" name="Delete">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button (click)="onDelete(row)" mat-raised-button color="warn">Delete</button>
    </ng-template>

  </ngx-datatable-column>

</ngx-datatable>

</div>
